/* Add CSS styles for your web site here and use them in index.html. */
body {
  background-color: rgb(174, 200, 255);
  background-image: url('');
  font-family: 'Raleway';
  font-size: 16px;
  color: black;
  padding-top: ;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.about {
  margin-top: 100px;
}

#about {
  scroll-margin-top: 60px;
}

#about-para {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}

/* General style rule set for all items in ul */
.navbar ul {
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 0;
  background-color: #ffffffd9;
  z-index: 100;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

body.dark-mode .navbar ul{
  background-color: rgba(53, 52, 52, 0.85);
}

/* Style rule set for individual li */
.navbar ul li {
  float: left;
  margin: 10px;
}


/* Style rule set for individual li link */
.navbar ul li a {
  display: block;
  font-family: 'Raleway';
  color: rgb(54, 148, 54);
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
  text-align: left;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
  font-weight: bold;
}

/* Part 2: Flexbox */

/* General style rule set for flex container */
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Style rules for flex-item 1 */
.flex-item:nth-of-type(1) {

}

/* Style rules for flex-item 2 */
.flex-item:nth-of-type(2) {

}

/* Style rules for flex-item 3 */
.flex-item:nth-of-type(3) {

}


/* Style set for all flex-items */
.flex-item {
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-family: 'Poetsen One';
    font-size: 40px;
    color: rgb(54, 148, 54);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Raleway';
    font-size: 34px;
    text-align: center;
}

h3 {
    font-family: 'Raleway';
    font-size: 25px;
    text-align: center;
}

h4{
    font-family: 'Raleway';
    font-size: 22px;
    text-align: center;
}

h5{
    font-family: 'Raleway';
    font-size: 20px;
    text-align: center;
}

h6{
    font-family: 'Raleway';
    font-size: 18px;
    text-align: center;
}

p {
    font-family: 'Lato';
    font-size: 24px;
    line-height: 22px;
}

ol {
    font-family: 'Lato';
    font-size: 16px;
}
ol li {
    font-family: 'Lato';
    font-size: 16px;
}
ul {
    font-family: 'Lato';
    font-size: 16px;
}
ul li {
    font-family: 'Lato';
    font-size: 16px;
}

a:link {
  color: rgb(54, 148, 54);
  text-decoration: none;
}

/* Visited link */
a:visited {
  color: rgb(0, 60, 255);
  text-decoration: none;
}

/* Mouse over link */
a:hover {
  color: red;
  text-decoration: underline;
}

/* Selected link */
a:active {
  color: rgb(42, 139, 115);
  text-decoration: underline;
}

.header-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  padding-top: 50px;
  margin-bottom: 50px;
}

.header-item:nth-of-type(1) {
  width: 25%;
}

.header-item:nth-of-type(2) {
  width: 75%;
}

#header-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  max-width: 1000px;
}

#header-img {
  width: 600px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  text-align: center;
}

.header-title h1 {
  font-family: 'Poetsen One';
  font-size: 60px;
  color: rgb(54, 148, 54);
  margin-bottom: 10px;
  -webkit-text-stroke: 0.5px black
}

.header-title h4 {
  font-family: 'Raleway';
  font-size: 22px;
  margin-top: 0;
}

.button-container{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-button {
  font-family: 'Raleway';
  font-size: 16px;
  color: white;
  background-color: rgba(75, 108, 255);
  text-align: center;
  padding: 15px 32px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.impact {
  margin-top: 100px;
}

#impact {
  scroll-margin-top: 60px;

}

.image-row {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.image-column {
  width: 30%;
  text-align: center;
}

.image-column img {
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.image-column p {
  margin-top: 10px;
  font-size: 24px;
  line-height: 22px;
}

.single-image-block {
  margin-top: 40px;
  text-align: center;
}

#body-img3 {
  width: 40%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.single-image-block p {
  margin-top: 10px;
  font-size: 24px;
  line-height: 22px;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
font-family: 'Raleway';
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
padding: 8px;
background-color: rgba(255, 255, 255, 0.85);
z-index: 100;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

body.dark-mode .footer {
  background-color: rgba(53, 52, 52, 0.85);
}

/* Add style to button */
#theme-button {
  font-family: 'Raleway';
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 3px 3px;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

/* Customize Dark Mode Theme */
.dark-mode {
  background-color: rgb(31, 30, 30);
  color: white;
  
}

.petition {
  margin-top: 100px;
  scroll-margin-top: 100px;
}

.petition-inner {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

.petition-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.petition-para {
  flex: 1 1 55%;
}

.signatures {
  flex: 1 1 15%;
}

#sign-petition {
  font-family: 'Lato';
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

#sign-petition input {
  max-width: 400px;
  padding: 5px;
  border-radius: 5px;
}

#sign-petition label {
  max-width: 400px;
  text-align: left;
  font-weight: bold;
}

#sign-now-button {
  font-family: 'Lato';
  font-size: 20px;
  margin: 20px auto 100px auto; 
  padding-bottom: 100px;
  
}



/* Add to CSS file */
.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background:pink;
}

.revealable {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.active {
  transform: translateY(0px);
  opacity: 1;
}

/* the modal that covers the background and prevents user interactions */
.modal {
  display: none; /* hides the modal from view by default*/
  position: fixed; /* keeps the modal in one place */
  z-index: 2; /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still */
  flex-direction: column; /* these flexbox rules center the content on the screen */
  align-items: center;
  justify-content: center;
}

#modal-img {
  height: 300px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

/* box that contains all the content and images */
.modal-content {
  background-color: lightsteelblue; /* update the colors and font sizes as you like */
  color: black;
  text-align: center;
  font-size: 3rem;
  display: flex; /* adds flexbox to center all items */
  justify-content: center;
  align-items: center;
  
}

#thanks-modal-content {
  width: 20rem; /* sets a default width for the text container */
}
#modal-text-container {
  display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

